services:
    odiseo_sylius_referrals_plugin.controller.shop.statistics_affiliate:
        class: Odiseo\SyliusReferralsPlugin\Controller\Shop\StatisticsAffiliateAction
        public: true
        arguments:
            - '@sylius.context.customer'
            - '@sylius.repository.order'
            - '@odiseo_sylius_referrals_plugin.repository.affiliate'
            - '@odiseo_sylius_referrals_plugin.repository.affiliate_view'
            - '@twig'

    odiseo_sylius_referrals_plugin.controller.shop.create_from_product_affiliate:
        class: Odiseo\SyliusReferralsPlugin\Controller\Shop\CreateFromProductAffiliateAction
        public: true
        arguments:
            - '@sylius.context.customer'
            - '@sylius.repository.product'
            - '@odiseo_sylius_referrals_plugin.factory.affiliate'
            - '@odiseo_sylius_referrals_plugin.repository.affiliate'
            - '@router'
