<h1 class="ui header">
    {{ 'odiseo_sylius_referrals_plugin.ui.affiliates_program'|trans }}
    <div class="sub header">{{ 'odiseo_sylius_referrals_plugin.ui.manage_affiliates_program'|trans }}</div>

    {{ sylius_template_event('odiseo_sylius_referrals_plugin.shop.account.affiliate_referral.index.header.content', {'resources': resources}) }}
</h1>
