<div id="affiliate_link" class="ui segment">
    <div class="ui form">
        <div class="field">
            <label>{{ 'odiseo_sylius_referrals_plugin.ui.referral_url'|trans }}</label>
            <input type="text" value="{{ link }}" readonly>
            <div class="ui pointing above ignored label">
                <p class="help-text">{{ 'odiseo_sylius_referrals_plugin.ui.copy_this_referral_link'|trans }}</p>
            </div>
        </div>
    </div>
</div>
